.vscode/settings.json
ARES2_EJECUCION_ACTIVIDADES.csv
functions/__pycache__/biagram.cpython-310.pyc
.gitignore
functions/__pycache__/data_cleaning.cpython-310.pyc
functions/__pycache__/duration_prediction.cpython-310.pyc
functions/__pycache__/probability_matrix.cpython-310.pyc
.gitignore
functions/__pycache__/string_operations.cpython-310.pyc
